<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>


<div id="comment" dir="RTL" align="Right">
<hr>
<p>
*برای بازگشت به صفحه ی قبل از گزینه ی "Back" استفاده کنید.
</p>
<p>
*برای ویرایش مشخصات زیرگروه موجود از گزینه ی "Edit" استفاده کنید.
</p>
</div>