
<div id="ajaxmenu">
  <% @ajaxmenudepartments.each do |f| %>
    <%= link_to_remote(f.first, :update => 'ajaxmenugroup',  :url => { :action => "ajaxmenugroup", :department_id => f.last }) %>
    
                        
   <% end %>
</div>
 

<div id="ajaxmenugroup"></div>


<%= link_to 'Back', posts_path %>